# /
/bin
/locale
/user_config
/CMakeFiles
/_CPack_Packages
/*.cmake
/*.tar.gz
/*.deb
/*.exe
/Makefile
/CMakeCache.txt
/install_manifest.txt
/.project
/.cproject
/.settings

# /include/
/include/config.h
