[Desktop Entry]
Type=Application
Version=1.0
Exec=vcc
Icon=vcc
Terminal=false
Categories=Game;
StartupNotify=true
Name=Virtual Chess Clock
GenericName=Chess clock software
GenericName[fr]=Pendule d'échecs
Comment=A chess clock software
Comment[fr]=Un logiciel de pendule d'échecs
